.field {
    position: absolute;
    background-color: #C4C4C4;
    border-radius: 12px;
    width: 22rem;
    padding: 2rem 4rem;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.account.logo {
    position: relative;
    transform: translate(-50%);
    left: 50%;
    height: 100px;
}

.header {
    text-align: center;
    margin-bottom: 3rem;
}

.form {
    text-align: center;
}

.form label {
    display: block;
    margin-bottom: 1rem;
}

.form input[type="text"],
input[type="password"] {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    width: 80%;
    height: 2.5rem;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
}

.form input[type="submit"] {
    background-color: red;
    width: 90%;
    height: 3rem;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
}

.form input[type="submit"]:hover {
    cursor: pointer;
}

.error {
    position: relative;
    color: red;
    white-space: pre-line;
}

#signInInstead {
    color: rgb(0, 170, 3);
}

.backButton {
    position: absolute;
    padding: 1rem;
    background-color: #C4C4C4;
    border-radius: 5px;
    left: -6rem;
    text-decoration: none;
    color: black;
}